*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
}

/* .separator-horizontal {
    height: 2px;
    width: 100%;
    background-color: green;
} */

/* .punto {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: green;
} */

/* .separator-vertical {
    height: 100%;
    width: 4px;
    background-color: red;
} */

/* .separator-pink {
    background-color: #fabada;
} */

/* .separator-small {
    height: 50%;
} */

/* -----------HEADER------- */

header {
    display: flex;
    flex-direction: column;
}

/* --------------HEADER / TOP-------------- */

header .top-header {
    background-color: #F4F5F7;
    padding: 5px 0;
}

header .top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    width: 65%;
    margin: 0 auto;
}

.top-header-container h1 {
    font-size: 12px;
    color: gray;
}

.header-separator {
    height: 20px;
    width: 1px;
    background-color: #C1C7D0;
}

aside {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;

    font-size: 10px;
}

aside h6 {
    font-size: 12px;
    font-weight: 300;
    color: #8F97A8;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    color: #56657D;
}

.links-header-separator {
    height: 5px;
    width: 1px;
    background-color: #C3C9D1;
}

/* ------------------HEADER / BOTTOM------------ */

.bottom-header {
    background-color: #24AEEF;
}

header .bottom-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 65%;
    margin: 0 auto;
    padding: 8px 0;
}

.logo-mobile-container {
    display: none;
}

.logo-mobile {
    display: flex;
    width: 28px;
}

.logo-mobile img {
    width: 100%;
}

.nav-image-container {
    width: 100px;
    flex-shrink: 0;
}

.nav-image-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-image-container img {
    width: 100%;
}

.bottom-header-container form {
    width: 50%;
}

.searching-nav-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 36px;
}

.searching-nav-container input {
    flex: 1;

    border: none;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding-left: 16px;
}

.searching-nav-container input:focus {
    outline: none;
}

.searching-nav-container button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: white;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-right: 16px;
    cursor: pointer;
}

.btn-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu-container img {
    width: 100%;
    cursor: pointer;
}

/* -----------------MAIN------------------ */

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    width: 65%;
    margin: 0 auto;
    padding: 60px 0 40px;
}

/* ------------------MAIN / MAP SECTION------------ */

.map-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    font-size: 12px;
    width: 80%;
}

.top-main-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side-time button {
    cursor: pointer;
    width: 15px;
}

.left-side-time img {
    width: 100%;
}

.top-main-image .day-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;

    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.top-main-image .day-style:hover {
    border-bottom: 2px solid #F33224;
}

.day-style small {
    font-size: 10px;
    font-weight: 400;
    color: #858EA0;
}

.top-main-image .today-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.today-container button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    color: #24AEEF;
}

.today-container img {
    width: 15px;
}

.right-side-time button {
    cursor: pointer;
    width: 15px;
}

.right-side-time img {
    width: 100%;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-container img {
    width: 100%;
}

.section-separator {
    width: 100%;
    height: 1px;
    background-color: #C8C8C8;
}

/* ---------------MAIN / SEASON SECTION---------- */

.season-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.season-section h2 {
    border-bottom: 4px solid #24AEEF;
    padding-bottom: 8px;
    font-weight: 800;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    background-color: #F4F5F7;
    padding: 20px 16px;
    flex: 1;
}

.card-style {
    border-radius: 8px;
    box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.5);
}

.card h3 {
    font-weight: 700;
}

.mini-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    flex: 1;
}

.mini-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    flex: 1;

    background-color: white;
    padding: 12px;
}

.horizontal-card-separator {
    width: 100%;
    height: 1px;
    background-color: #DCDFE5;
}

.mini-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 4px;
}

.options-station-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.options-station-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.options-station-container img {
    width: 100%;
}

.options-station-container p {
    font-size: 14px;
}

.sections-anchor {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    gap: 8px;
}

.sections-anchor span {
    flex: 1;
    font-size: 14px;
    font-weight: 700;
}

.sections-anchor img {
    width: 30px;
}

.flu-style {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex: 1;

    background-color: white;
    padding: 12px;
}

.places-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
    flex: 1;
}

.places {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
}

.places p {
    color: white;
    font-weight: 700;
    padding: 4px 24px;
    background-color: #6554C0;
    border-radius: 4px;
}

/* -----------------MAIN / TOP NEWS SECTION----------- */

.top-news-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 32px;
}

.top-news-section h2 {
    border-bottom: 4px solid #24AEEF;
    padding-bottom: 8px;
}

.top-news-section a {
    font-size: 14px;
}

/* ...............TOP NEWS SECTION / TOP SIDE-------- */

.multicard-container {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.card-dimensions {
    flex: 1;

    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 1);
}

.foto-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image-container {
    flex: 1;
    position: relative;
}

.foto-card-container .card-image-container .card-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 0;
}

.card-image-container .video-icon {
    position: absolute;
    bottom: 30px;
    left: 5%;
    z-index: 1;
    width: 30px;
}

.foto-card-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    padding: 12px;
}

.text-article-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.multicard-container article .titles-card-container {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 14px;
    font-weight: 500;
}

.title-dot {
    height: 6px;
    width: 6px;
    border-radius: 100%;
}

.blue-dot {
    background-color: #24AEEF;
}

.green-dot {
    background-color: #4DCB97;
}

.orange-dot {
    background-color: #FCB400;
}

.foto-card-container article a {
    font-weight: 800;
    line-height: 1.7;
}

.signature-card {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    font-weight: 300;
}

.signature-line-separator {
    height: 10px;
    width: 1px;
    background-color: #939BAA;
}

.foto-card-container .signature-card h6 {
    font-size: 12px;
}

/* .signature-card .signature-image-container {
    width: 20%;
} */

/* .signature-image-container img {
    width: 100%;
} */

.individual-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    padding: 20px 12px;
}

.individual-card-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex: 1;
}

.separator-invisible {
    display: none;
}

.individual-card-container .text-article-container a {
    font-weight: 800;
    line-height: 1.3;
}

.individual-card-container .little-gap {
    gap: 8px;
}

.individual-card-container .anchor-container svg {
    width: 16px;
    vertical-align: middle;
}

.individual-card-container .signature-card h6 {
    font-size: 12px;
}

.foto-card-container .signature-image-container {
    width: 40px;
}

.foto-card-container .signature-image-container img {
    width: 100%;
}

/* --------------TOP NEWS SECTION / BOTTOM SIDE------- */

.last-cards-container {
    display: flex;
    column-gap: 28px;

    margin-top: 28px;
}

.wrap-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px 12px;
    flex: 2 0 60%;

    padding: 40px 12px;
}

.wrap-details article {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    flex: 1 0 30%;
}

.articles-lines-separator {
    height: 100%;
    width: 1px;
    background-color: #E7E8E9;
}

.wrap-details .articles-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.wrap-details .none-stretch-atribute {
    align-self: flex-start;
}

.last-cards-container .text-article-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.last-cards-container .text-article-container .titles-card-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.text-article-container a {
    flex: 1;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.3;
}

.text-article-container .anchor-container svg {
    vertical-align: middle;
}

.wrap-details article .signature-card h6 {
    font-size: 12px;
}

.corn-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;

    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 1);
}

.corn-image-container {
    flex: 1;
}

.corn-image-container img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.corn-card article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    padding: 12px;
}

.corn-card .signature-image-container {
    width: 40px;
}

.corn-card .signature-image-container img {
    width: 100%;
}

/* -----------------------SECTION------------ */

#interesting-section {
    background-color: #F4F5F7;
}

.interesting-section-limits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    width: 65%;
    margin: 0 auto;
    padding: 36px 0;
}

.interesting-section-limits .title-container {
    padding-bottom: 16px;
    border-bottom: 1px solid #C1C7D0;
}

#interesting-section h3 {
    font-weight: 400;
    font-size: 18px;
}

.bottom-side-interesting-section {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.horizontal-only-mobile-separator {
    display: none;
}

.minisection-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.minisection-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;

    font-size: 12px;
    padding-bottom: 12px;
}

.minisection-list .interesting-lists-container {
    display: flex;
    justify-content: space-between;
}

.vertical-lists-separator {
    height: 100%;
    width: 1px;
    background-color: #C1C7D0;
}

/* ---------------FOOTER----------------- */

footer {
    background-color: #24AEEF;
    color: white;
}

footer p {
    font-size: 14px;
}

footer a {
    color: white;
    font-size: 8px;
}

footer button {
    color: white;
    font-size: 12px;
    font-weight: 700;
}

footer small {
    font-size: 8px;
}

footer .footer-limits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 28px;

    width: 65%;
    margin: 0 auto;
    padding-top: 20px;
}

.container-top-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 36px;
}

.footer-separator-line {
    width: 100%;
    height: 1px;
    background-color: #4DBEF1;
}

.top-side-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 32px;
    flex: 3;
}

.apps-images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.app-image-container {
    width: 90px;
}

.app-image-container img {
    width: 100%;
}

.widget-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 28px;
    flex: 2;
    align-items: flex-start;
}

.widget-container button {
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 4px;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 28px;
    flex: 2;
    align-items: flex-start;

}

.bottom-social-container {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
}

.bottom-social-container a {
    width: 60px;
}

.bottom-social-container a img {
    width: 100%;
}

.middle-top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
}

.container-middle-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 24px;
}

.logo-language-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos-footer-container {
    display: flex;
    column-gap: 20px;
}

.logo-footer-container {
    width: 100px;
}

.logo-footer-container img {
    width: 100%;
}

.right-border-footer {
    padding-right: 16px;
    border-right: 0.5px solid #5CC4F2;
}

.language-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.language-container p {
    font-size: 12px;
}

.language-container .spanish-language {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    align-items: center;
}

.image-language-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
}

.image-language-container img {
    border-radius: 120px;
    width: 100%;
}

.arrow-language-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
}

.arrow-language-container img {
    width: 100%;
}

.links-middle-top-footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container-middle-bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 48px;
}

.middle-bottom-footer {
    display: flex;
    align-items: center;
}

.middle-bottom-footer ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bottom-side-footer {
    display: flex;
    align-items: center;

    margin-top: -10px;
    padding-bottom: 12px;
}

@media only screen and (min-width: 350px) and (max-width: 480px) {
    body {
        overflow-x: hidden;
        background-color: green;
    }

    /* ----------HEADER----------- */
    /* ----------HEADER / TOP-------- */

    header .top-header {
        padding: 4px;
    }


    header .top-header-container {
        gap: 0;

        width: 100%;
        margin: 0 0;
    }

    .top-header-container h1 {
        display: none;
    }

    .header-separator {
        display: none;
    }

    aside {
        align-items: center;
        flex: 1;
        gap: 4px;

        white-space: nowrap;
        overflow-x: auto;
        font-size: 8px;
    }

    aside h6 {
        font-size: 10px;
    }

    /* ----------------HEADER / BOTTOM--------------- */

    header .bottom-header-container {
        width: 100%;
        margin: 0 0;
        padding: 8px 4px;
    }

    .logo-mobile-container {
        display: block;
    }

    .logo-mobile {
        display: flex;
        width: 28px;
    }

    .logo-mobile img {
        width: 100%;
    }

    .nav-image-container {
        display: none;
    }

    .bottom-header-container form {
        width: 75%;
    }

    .searching-nav-container {
        height: 32px;
    }

    .searching-nav-container input {
        padding-left: 12px;
    }

    .searching-nav-container button {
        padding-right: 12px;
    }

    /* ----------------MAIN--------------- */

    .main-content-container {
        gap: 16px;

        width: 100%;
        margin: 0;
        padding: 20px 12px;
    }

    /* ------------MAIN / MAP SECTION ----------------*/

    .map-section-container {
        gap: 8px;

        font-size: 14px;
        width: 100%;
    }

    .top-main-image {
        justify-content: center;
        align-items: stretch;
    }

    .left-side-time button {
        width: 25px;
    }

    .top-main-image .day-style {
        justify-content: space-between;
        gap: 4px;

        border-bottom: 1px solid transparent;
    }

    .top-main-image .day-style:hover {
        border-bottom: 1px solid #F33224;
    }

    .day-style small {
        font-size: 10px;
    }

    .today-container img {
        width: 10px;
    }

    .map-section-container .none-important-days {
        display: none;
    }

    .right-side-time button {
        width: 25px;
    }

    .section-separator {
        width: 100%;
        height: 1px;
        background-color: #C8C8C8;
    }

    /* ----------MAIN / SEASON SECTION----------- */

    .season-section {
        gap: 16px;
    }

    .season-section h2 {
        border-bottom: 2px solid #24AEEF;
        padding-bottom: 4px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 330px;
        margin: 0 auto;
    }

    .card {
        gap: 12px;

    }

    .card h3 {
        font-size: 16;
    }

    .mini-cards-container {
        gap: 20px;
    }

    .mini-card {
        gap: 4px;
    }

    .options-station-container {
        gap: 4px;
    }

    .options-station-container div {
        width: 25px;
    }

    .options-station-container p {
        font-size: 14px;
    }

    .sections-anchor {
        gap: 4px;
    }

    .sections-anchor span {
        font-size: 12px;
    }

    .sections-anchor img {
        width: 25px;
    }

    .flu-style {
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    .places-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }

    .places {
        flex-direction: row;
        align-items: center;
        flex: 1 0 50%;
    }

    .places h4 {
        font-size: 14px;
    }

    .places p {
        padding: 4px 20px;
    }

    /* ------------MAIN / TOP NEWS SECTION */

    .top-news-section {
        gap: 20px;
    }

    .top-news-section h2 {
        border-bottom: 2px solid #24AEEF;
        padding-bottom: 4px;
    }

    .top-news-section a {
        font-size: 10px;
    }

    /* --------TOP NEWS SECTION / TOP SIDE-------- */

    .multicard-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card-dimensions {
        flex: 0;
        max-width: 330px;
        margin: 0 auto;
    }

    .foto-card-container article {
        gap: 12px;
    }

    .text-article-container {
        gap: 12px;
    }

    .multicard-container article .titles-card-container {
        gap: 8px;

        font-size: 12px;
    }

    .title-dot {
        height: 7px;
        width: 7px;
    }

    .signature-card {
        gap: 4px;

        font-size: 10px;
    }

    .foto-card-container .signature-card h6 {
        font-size: 10px;
    }

    .individual-card-container {
        gap: 8px;
    }

    .separator-invisible {
        display: block;
    }


    .individual-card-container .little-gap {
        gap: 12px;
    }

    .individual-card-container .signature-card h6 {
        font-size: 10px;
    }

    .foto-card-container .signature-image-container {
        width: 60px;
    }

    .foto-card-container .signature-image-container img {
        width: 100%;
    }

    /* --------TOP NEWS SECTION / BOTTOM SIDE------------- */

    .last-cards-container {
        flex-direction: column;
        gap: 20px;

        margin-top: 0;
    }

    .wrap-details {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 8px 0;

        padding: 20px 12px;
    }

    .wrap-details article {
        flex-direction: column;
        gap: 8px;
    }

    .wrap-details .articles-container {
        gap: 12px;
    }

    .last-cards-container .text-article-container {
        gap: 12px;
    }

    .last-cards-container .text-article-container .titles-card-container {
        gap: 8px;
        font-size: 12px;
    }

    .text-article-container a {
        font-size: 10px;
    }

    .wrap-details article .signature-card h6 {
        font-size: 10px;
    }

    .corn-card {
        max-width: 330px;
        margin: 0 auto;
    }

    .corn-card article {
        gap: 12px;

        padding: 20px 12px;
    }

    .article-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .corn-card .signature-card h6 {
        font-size: 10px;
    }

    .corn-card .signature-image-container {
        width: 60px;
    }

    .corn-card .signature-image-container img {
        width: 100%;
    }

    /* -----------INTERESTING SECTION------------------ */

    .interesting-section-limits {
        gap: 20px;

        width: 100%;
        padding: 20px 12PX;
    }

    .interesting-section-limits .title-container {
        padding-bottom: 8px;
    }

    #interesting-section h3 {
        font-size: 16px;
    }

    .bottom-side-interesting-section {
        flex-direction: column;
        gap: 12px;
    }

    .horizontal-only-mobile-separator {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #D2D2D2;
    }


    .minisection-list {
        gap: 8px;
    }

    .minisection-list h4 {
        font-size: 12px;
    }

    .minisection-list ul {
        justify-content: space-between;
        gap: 4px;

        font-size: 10px;
        padding-bottom: 0;
    }

    .vertical-lists-separator {
        display: none;
    }

    /* ----------------FOOTER---------------- */    
    footer p {
        font-size: 10px;
    }
    
    footer a {
        color: white;
        font-size: 8px;
    }
    
    footer button {
        color: white;
        font-size: 10px;
        font-weight: 700;
    }
    
    footer small {
        font-size: 8px;
    }
    
    footer .footer-limits {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 28px;
    
        width: 65%;
        margin: 0 auto;
        padding-top: 20px;
    }
    
    .container-top-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 36px;
    }
    
    .footer-separator-line {
        width: 100%;
        height: 1px;
        background-color: #4DBEF1;
    }
    
    .top-side-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .apps-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 32px;
        flex: 3;
    }
    
    .apps-images-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }
    
    .app-image-container {
        width: 90px;
    }
    
    .app-image-container img {
        width: 100%;
    }
    
    .widget-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 28px;
        flex: 2;
        align-items: flex-start;
    }
    
    .widget-container button {
        padding: 8px 20px;
        border: 1px solid white;
        border-radius: 4px;
    }
    
    .social-media-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 28px;
        flex: 2;
        align-items: flex-start;
    
    }
    
    .bottom-social-container {
        display: flex;
        justify-content: space-between;
        column-gap: 8px;
    }
    
    .bottom-social-container a {
        width: 60px;
    }
    
    .bottom-social-container a img {
        width: 100%;
    }
    
    .middle-top-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 24px;
    }
    
    .container-middle-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 24px;
    }
    
    .logo-language-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logos-footer-container {
        display: flex;
        column-gap: 20px;
    }
    
    .logo-footer-container {
        width: 100px;
    }
    
    .logo-footer-container img {
        width: 100%;
    }
    
    .right-border-footer {
        padding-right: 16px;
        border-right: 0.5px solid #5CC4F2;
    }
    
    .language-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .language-container p {
        font-size: 12px;
    }
    
    .language-container .spanish-language {
        display: flex;
        justify-content: flex-end;
        gap: 4px;
        align-items: center;
    }
    
    .image-language-container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 20px;
    }
    
    .image-language-container img {
        border-radius: 120px;
        width: 100%;
    }
    
    .arrow-language-container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 20px;
    }
    
    .arrow-language-container img {
        width: 100%;
    }
    
    .links-middle-top-footer {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    .container-middle-bottom-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 48px;
    }
    
    .middle-bottom-footer {
        display: flex;
        align-items: center;
    }
    
    .middle-bottom-footer ul {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    .bottom-side-footer {
        display: flex;
        align-items: center;
    
        margin-top: -10px;
        padding-bottom: 12px;
    }
    
}